section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 
  }
  
  .cards {
    max-width: 90rem;
    gap: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 1rem;
    
  }
  
  .card {
    margin: 20px;
    position: relative;
    max-width: 12rem;
    max-height: 12rem;
    cursor: pointer;
    
  }
  
  .card-title {
    display: block;
    text-align: center;
    color: #fff;
    background-color: #673124;
    padding: 2%;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px; 
    font-weight: 400 !important;
    font-size: 30px !important;

  }
  
  .card img {
    width: 100%;
    height: 98%;
    object-fit: cover;
    display: block;
    position: relative;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px; 
  }
  
  .card-desc {
    display: block;
    font-size: 1.2rem;
    position: absolute;
    height: 0;
    top: 0;
    opacity: 0;
    padding: 18px 8%;
    background-color: white;
    overflow-y: scroll;
    transition: 0.4s ease;
  }
  
  .card:hover .card-desc {
    opacity: 1;
    height: 100%;
    border-radius: 8px;
  }


  
